name: Screener Crypto 15 Menit

on:
  schedule:
    - cron: '7,22,37,52 * * * *'
  workflow_dispatch:      # Supaya bisa ditest run manual

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout kode
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Library
        run: pip install -r requirements.txt

      - name: Jalankan Screener
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
